.vdi-container {
    height: 100vh;
    display: block;
}

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";